{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}
  <div class="container">
  <h1>Confirm your order</h1>
  
  {{ form(Checkout_form) }}
  </div>
{% endblock %}